name: Build [GCC] - Windows
on: [push, pull_request]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julelang/ci@main

      - name: Build JuleC
        run: |
          .\bin\julec -t --compiler gcc src/julec
          g++ -w --std=c++17 -O0 "-Wa,-mbig-obj" -o test dist/ir.cpp -lws2_32 -lshell32