name: Build [Clang] - Windows
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julelang/ci@main

      - name: Build julec
        run: |
          .\bin\julec build --compiler clang src/julec
