name: Build [GCC] - macOS
on: [push, pull_request]
jobs:
  build:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julelang/ci@main

      - name: Build JuleC
        run: |
          julec --compiler gcc --compiler-path g++-13 src/julec
