name: Tests [GCC] - Windows
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-exec:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julelang/ci@main

      - name: Test - Standard Library
        run: |
          .\bin\julec build --compiler gcc -to test tests/std
          g++ "-Wa,-mbig-obj" -w --std=c++20 -fwrapv -ffloat-store -fno-fast-math -fno-rounding-math -ffp-contract=fast -fomit-frame-pointer -fno-strict-aliasing -o test.exe dist/ir.cpp -lws2_32 -lshell32 -liphlpapi -lsynchronization
          ./test

      - name: Test - Aliasing
        run: |
          .\bin\julec build --compiler gcc -o test tests/aliasing
          ./test

      - name: Test - Arrays
        run: |
          .\bin\julec build --compiler gcc -o test tests/arrays
          ./test

      - name: Test - Basic Calculator
        run: |
          .\bin\julec build --compiler gcc -o test tests/basic_calculator

      - name: Test - Channels
        run: |
          .\bin\julec build --compiler gcc -o test tests/channels
          ./test

      - name: Test - Cmplx
        run: |
          .\bin\julec build --compiler gcc -o test tests/cmplx
          ./test

      - name: Test - Comptime
        run: |
          .\bin\julec build --compiler gcc -o test tests/comptime
          ./test

      - name: Test - Concurrency
        run: |
          .\bin\julec build --compiler gcc -o test tests/concurrency
          ./test

      - name: Test - Dynamic
        run: |
          .\bin\julec build --compiler gcc -o test tests/dynamic
          ./test

      - name: Test - Enum
        run: |
          .\bin\julec build --compiler gcc -o test tests/enum
          ./test

      - name: Test - Exceptionals
        run: |
          .\bin\julec build --compiler gcc -o test tests/exceptionals
          ./test

      - name: Test - Generics
        run: |
          .\bin\julec build --compiler gcc -o test tests/generics
          ./test

      - name: Test - Levenshtein Distance
        run: |
          .\bin\julec build --compiler gcc -o test tests/levenshtein_distance
          ./test

      - name: Test - Maps
        run: |
          .\bin\julec build --compiler gcc -o test tests/maps
          ./test

      - name: Test - QuickSort
        run: |
          .\bin\julec build --compiler gcc -o test tests/quicksort
          ./test

      - name: Test - Sleep
        run: |
          .\bin\julec build --compiler gcc -o test tests/sleep
          ./test

      - name: Test - Syntax
        run: |
          .\bin\julec build --compiler gcc -o test tests/syntax
          ./test

      - name: Test - Traits
        run: |
          .\bin\julec build --compiler gcc -o test tests/traits
          ./test

      - name: Test - Wrap Around
        run: |
          .\bin\julec build --compiler gcc -po test tests/wraparound
          ./test
